.phone{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: absolute;
 top:20vmax;
 left: 40vmax;
 border: 2px solid violet;
 width: 20%;
 height: 40%;
 background-color:whitesmoke;
}

@media (max-width:674px) {
    .phone{
        width: 40%;
        top:50vmin;
        margin-left:-18vmax;
    }   
}
