.search__header{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.search-input{
    display: flex;
    border: 1px solid black;
    width: 50%;
    height: 5vh;
    gap:10px;
    border-color: #FFFDD0;
}
#secondForm{
    width: 100%;
}
#second-search{
    outline: none;
    border-style: none;
    width: 90%;
    height: 90%;
}

.icons{
    display: flex;
    gap:10px;
}

.subHeader{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.results{
    margin-top:2vmax;
    margin-bottom:2vmax;
    width: 60vmax;
    display: flex;
    flex-direction: column;
    margin-left: 20vmin;

}

.link{
    font-size: 1.5rem;
   
}
.link a {
    text-decoration: none;
}
.link a:hover {
    text-decoration: underline;
}

.snippet{
    font-weight: 600;
}






  

  
  
  @media only screen and (max-width: 630px) and (min-width:375px)  {
  
     .search__logo img{
        width: 25vmin;
     }

    #second-search{
        width: 35vmax;
    }
    .search__header{
        width: 130vw;
        /* border: 2px solid black; */
    }


     .results{
        margin-top:3vmax;
        margin-bottom:4vmax;
        width: 100vw;
        display: flex ;
        flex-direction: column;
        justify-content: center;

    
    }



  }
  
  @media only screen and (max-width: 375px) {
    .search__logo img{
        width: 30vmin;
        
     }
    .search__header,.subHeader{
        width: 160vw;
        /* border: 2px solid black; */
    }

    .results{
        margin-bottom: 5vmax;
    }
  }
