.search__header{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.search-input{
    display: flex;
    border: 1px solid black;
    width: 50%;
    height: 5vh;
    gap:10px;
}
#secondForm{
    width: 100%;
}
#second-search{
    outline: none;
    border-style: none;
    width: 90%;
    height: 90%;
}

.icons{
    display: flex;
    gap:10px;
}

.subHeader{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin-bottom: 2%;
}